header {
    background: rgb(61, 60, 60);
}

header > div a {
    color: #d3d3d3;
    text-decoration: none;
}

header > div:first-child img {
    width: 12%;
}

/* header > div:last-child > div:nth-child(2) {
    word-wrap: none;
} */

header > div a:hover {
    color: #f0eaea;
}